/* Estrutura principal */

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */

.header {
  height: var(--header-height);
  background: var(--panel-bg);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--spacing-md);

  color: white;

  position: sticky;

  top: 0;

  z-index: 1000;

  box-shadow: var(--shadow);
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  width: 220px;
}

.header-center {
  flex: 1;
  position: absolute;

  left: 50%;

  transform: translateX(-50%);
  pointer-events: none;
  font-size: 2rem;

  font-weight: 700;

  max-width: 45%;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}

.header-center-icon {
  width: 40px;
  height: 40px;

  object-fit: contain;
  margin-right: 8px;
}

.header-right {
  gap: 12px;
  justify-content: flex-end;
}

.admin-desktop {
  display: flex;
}

.admin-mobile {
  display: none;
}

/* Conteúdo */

main {
  flex: 1;
}

.container {
  width: min(1200px, 92%);
  margin: auto;
}

.logo {
  height: 50px;

  transition: 0.25s ease;

  cursor: pointer;

  user-select: none;

  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.04);
}

.logo:active {
  transform: scale(0.98);
}

/* ===========================
   Responsividade
=========================== */

@media (max-width: 480px) {
  .header {
    padding: 0 16px;
  }

  .header-left {
    width: auto;
  }

  .header-left .logo {
    height: 35px;
  }

  .header-center {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .header-right {
    width: auto;
  }

  .logo {
    height: 56px;
  }

  .admin-desktop {
    display: none;
  }

  .admin-mobile {
    display: flex;
  }

  .header-center-icon {
    width: 30px;
    height: 30px;
  }
}
