:root {
  /* Paleta */

  --primary: #653245;
  --primary-dark: #522838;
  --primary-light: #815264;

  --background: #f7f7f7;
  --surface: #ffffff;

  --text: #2b2b2b;
  --text-light: #666666;

  --border: #e6e6e6;

  /* Layout */

  --header-height: 80px;

  --radius: 14px;

  --shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

  --transition: 0.25s ease;

  /* Espaçamentos */

  --spacing-sm: 12px;
  --spacing-md: 20px;
  --spacing-lg: 40px;
  --hero-top-spacing: 60px;

  /* Largura máxima dos botões */

  --button-max-width: 420px;
}
