:root {

    /* Paleta */

    --primary: #653245;
    --primary-dark: #522838;
    --primary-light: #815264;

    --background: #f7f7f7;
    --surface: #ffffff;

    --text: #2b2b2b;
    --text-light: #666666;

    --border: #e6e6e6;

    /* Layout */

    --header-height: 72px;

    --radius: 14px;

    --shadow: 0 6px 20px rgba(0,0,0,.08);

    --transition: .25s ease;

}